.page-container {
	.container {
		@media(min-width:1200px) {
			width: 1054px;
		}
		
	}
	.what-we-are {
		padding-bottom: 85px;
		border-bottom: solid 1px #e1e1e1;
		&::before {
			content: "";
			background-image: url("img/ok-mark.svg");
			background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
		    width: 20px;
		    height: 20px;
		    display: inline-block;
		}
		.section-text {
			font-size: 1.8rem;
			text-align: center;
		}
		.company-information {
			text-align: center
		}
		.we-are-img {
			background-color: grey;
			height: 130px;
			overflow: hidden;
			border-radius: 5px 5px 0 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.text-wrapper {
			border-radius: 0 0 5px 5px;
			border: solid 1px #e1e1e1;
		}
		.article-title {
			font-size: 2rem;
			font-weight: 600;
		}
		.article-text {
			font-size: 1.3rem;
		}
	}
	.features {
		padding-bottom: 45px;
	    margin-bottom: 40px;
		.title-features {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		.media-wrapper {
			img {
				width: 95%;
				height: auto;
			}
		}
		.title {
		    font-weight: 600;
		    font-size: 2rem;
		}
		.read-more {
			background-color: #ffffff;
			border-radius: 5px;
			border: solid 2px #71b6d5;
			color: #71b6d5;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 6px 15px;
		}
		.text {
			margin-bottom: 30px;
		}
	}
	.camera {
		padding-bottom: 100px;
		border-bottom: solid 1px #e1e1e1;
		margin-bottom: 15px;
		.title {
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 5px;
		}
		.text {
			line-height: 1.8em;
		}
	}
	.last-project {
		padding-bottom: 95px;
		margin-bottom: 20px;
		border-bottom: solid 1px #e1e1e1;
		.project-item {
			text-align: center;
		}
		.title {
			font-size: 18px;
			margin-bottom: 5px;
			margin-bottom: 40px;
		}
		.text {
			text-align: center;
			margin-bottom: 40px;
		}
	}
	.testimonials {
		text-align: center;
		.title {
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 45px;
		}
		.media-wrapper {
			width: 370px;
			height: 10px;
			margin: 0 auto;
			margin-bottom: 25px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.text {
			margin-bottom: 20px;
		}
		.footer {
			height: 90px;
			width: 100%;
			background-color: #172227;
		}
	}
}