.page-container {
	margin-bottom: 1000px; // Sacar esta línea, es sólo para ver el footer
	.container {
		@media(min-width:1200px) {
			width: 1054px;
		}
		@media(max-width: 768px) {
			width: 92%;
		}
		
	}
	.navegation {
		padding-top: 40px;

		.nav-item {
			color: #ffffff;
			margin-left: 40px;
		}
		.navbar {
			height: 60px;
			background-color: transparent;
			z-index: 2;
			border-bottom: solid 1px #7c7c7c;

		}
		.navbar-nav {
			float: right;
		}
		.carouse-rotator {
			margin-top: -185px;
			@media(max-width: 768px) {
				margin-top: 0;
			}
		}
		@media(max-width: 768px) {
			padding-top: 0;
			background-color: #273a43;
			.navbar {
				margin-bottom: 0;
				border-bottom: none;
			}
		}
	}
	.what-we-are {
		border-bottom: solid 1px #e1e1e1;
		@media (max-width: 768px) {
			border-bottom: none;
		}
		&::before {
			content: "";
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
		}
		.section-text {
			font-size: 1.8rem;
			text-align: center;
			margin-bottom: 95px;
		}
		.company-information {
			text-align: center;
			position: relative;
			padding-bottom: 85px;
			.icon-wrapper {
				width: 95px;
				height: 95px;
				border-radius: 50%;
				background-color: #ffffff;
				position: absolute;
				top: -45px;
				left: 50%;
				transform: translatex(-50%);
				&:before {
					content:"";
					width: 75px;
					height: 75px;
					border-radius: 50%;
					background-image: url("../img/inner9.png");
					background-size: 100%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

		}
		.we-are-img {
			background-color: grey;
			height: 130px;
			width: 320px;
			overflow: hidden;
			border-radius: 5px 5px 0 0;
			display: inline-block;
			img {
				width: 100%;
				height: auto;
			}
		}
		.text-wrapper {
			border-radius: 0 0 5px 5px;
			border: solid 1px #e1e1e1;
			width: 320px;
			margin: 0 auto;
		}
		.article-title {
			font-size: 2rem;
			font-weight: 600;
		}
		.article-text {
			font-size: 1.3rem;
		}
	}
	.features {
		padding-bottom: 45px;
		margin-bottom: 40px;
		@media(max-width: 768px) {
			padding-bottom: 0;
			margin-bottom:0; 
			.title-wrapper {
				background-color: #71b6d5;
				margin-bottom: 55px;
				padding: 5px 0 5px 0;
				border-radius: 5px;
				.title-features {
					margin-bottom: 10px;
				}
			}

		}

		.title-features {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 30px;
			font-size: 2.4rem;
		}
		.media-wrapper {
			img {
				width: 95%;
				height: auto;
			}
		}
		.title {
			font-weight: 600;
			font-size: 2.4rem;
		}
		.read-more {
			background-color: #ffffff;
			border-radius: 5px;
			border: solid 2px #71b6d5;
			color: #71b6d5;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 6px 15px;
		}
		.text {
			margin-bottom: 30px;
		}
	}
	.camera {
		padding-bottom: 100px;
		border-bottom: solid 1px #e1e1e1;
		margin-bottom: 15px;
		.title {
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 5px;
		}
		.text {
			line-height: 1.8em;
		}
	}
	.last-project {
		padding-bottom: 95px;
		margin-bottom: 20px;
		border-bottom: solid 1px #e1e1e1;
		@media(max-width: 768px) {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
			.title-wrapper {
				background-color: #71b6d5;
				margin-bottom: 55px;
				padding: 5px 0 5px 0;
				border-radius: 5px;
				.title {
					margin-bottom: 10px;
				}
			}
		}
		.project-item {
			text-align: center;
		}
		.title {
			font-size: 2.4rem;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 40px;
		}
		.text {
			text-align: center;
			margin-bottom: 40px;
		}
	}
	.testimonials {
		text-align: center;
		margin-bottom: 40px;
		@media(max-width: 768px) {
			margin-bottom: 0;
			.title-wrapper {
				background-color: #71b6d5;
				margin-bottom: 55px;
				padding: 5px 0 5px 0;
				border-radius: 5px;
				.title {
					margin-bottom: 15px;
				}
			}
		}
		.title {
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 45px;
		}
		.media-wrapper {
			width: 370px;
			height: 10px;
			margin: 0 auto;
			margin-bottom: 25px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.text {
			margin-bottom: 20px;
		}

	}
	.footer {
		background-color: #273a43;
		padding-top: 70px;

		.logo {
			margin-bottom: 30px;
			@media (max-width: 768px) {
				text-align: center;
			}
		}
		.text {
			color: #c3c3c3;
			display: inline-block;
		}
		.title {
			font-size: 20px;
			text-transform: uppercase;
			color: #c3c3c3;
			margin-bottom: 30px;

		}
		.copyright {
			padding-top: 40px;
			height: 90px;
			width: 100%;
			background-color: #172227;
			.social-wrapper {
				float: right;
				.circle {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					background-color: red;
					display: inline-block;
				}
				.twitter-logo {

				}
				.facebook-logo {
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
				.linkedin-logo {

				}
			}
		}
		.address, .mail, .phone {
			margin-bottom: 10px;
			color: #ffffff;
			a {
				color: #ffffff;
			}
		}
		.media-wrapper {
			width: 20px;
			display: inline-block;
			img {
				width: 100%;
				height: auto;
			}
		}
		.twitter {
			.text {
				width: calc(100% - 25px);
				display: inline-block;
				vertical-align: top;
				span {
					color: #71b6d5;
					display: block;
				}
			}
		}
		.newsletter {
			text-transform: uppercase;
			background-color: #71b6d5;
			color: #ffffff;
			padding: 10px 15px 10px 0;
			border-radius: 5px;

			input {
				border-radius: 5px 0 0 5px;
				text-align: center;
				background-color: #172227;
				border: none;
				color: #a7a7a7;
				height: 36px;
				margin-right: 10px;
				padding-left: 15px;
				width: 150px;
			}

		}
		@media (max-width: 768px) {
			.title {
				width: 28%;
				display: inline-block;
				vertical-align: top;
			}
			.text {
				width: 28%;
				display: inline-block;
			}
			.newsletter {
				width: 40%;
				display: inline-block;
				padding: 0px 15px 0px 0;
				vertical-align: text-bottom;
			}
		}
	}
}