//****************colors****************//
$main1: #71b6d5;
$main2: #172227;
$main3: #273a43;
$main4: #a7a7a7;
$secondary1: #e1e1e1;
$secondary2: #c3c3c3;
$secondary3: #f5f5f5;
$secondary4: #7c7c7c;
$secondary5: #b0b0b0;
$secondary6: #e2e2e2;
$white: #ffffff;
$black: #000000;

//****************fonts****************//
$opensans: 'Open Sans', Helvetica, Arial, sans-serif;
